<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/WhatsApp Image 2025-04-28 at 20.28.51.jpeg"
        alt="Andrean Gwen"
        class="img-thumbnail rounded-circle mt-5"
        width="200"
      />
      <h1 class="display-4">Andrean Gwen</h1>
      <p class="lead">Junior Web Developer | IOT Engineering</p>
    </div>
  </div>
</div>
